extends layout

block header
    .header.navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') 
            img(src='/img/djarkLydie.PNG', height='21px')
          //.btn-group.pull-right
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
              i.icon-user
              | Username
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Profile
              li.divider
              li
                a(href='#') Sign Out
          .nav-collapse
            ul.nav
              li.active
                a(href='#') Accueil
              li
                a(href='#about') Programme
              li
                a(href='#contact') Contacts
              li
                a(href='#contact') Photos
              li
                a(href='#contact') Videos 
          //
            /.nav-collapse 
    
block content
    .container-fluid
        .span1
          &nbsp;
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Offrir un cadeau
                 a.btn(data-toggle="modal",data-target="#newGift", href="#newGift") Nouveau
              each gift,i in gifts
                claz = 'tyu'
                idz  = 'myModalGift'+i
                formIdz = 'form_'+formIdz
                if i == 0
                    claz = 'active'
                if gift.online
                    claz2 = ' '
                else
                    claz2 = ' offline'
                li(class=claz+claz2)
                    a(data-toggle="modal", href='#'+idz) #{gift.name}
                .modal.hide.fade(id=idz)
                  .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h3 #{gift.name}
                  .modal-body
                    p Donneurs
                        each giver,j in gift.givers.list
                           p= giver
                        //
                    form.ajaxForm.well(id=formIdz,method='POST',action='/updateGift')
                       label(for='name') Nom
                       input(name='name',placeholder='Nom du cadeau',value=gift.name,type='text')
                       br
                       label(for='contact') Tel ou Email du contact
                       input(name='contact',placeholder='Email ou Tel',value=gift.contact,type='text')
                       label(for='thumbnail') Url de l'image.
                       input(name='thumbnail',value=gift.thumbnail,type='text')
                       br
                       span Dejà offert ?   
                         input(name='online',type='checkbox')                       
                       input(name='id',value=gift.id,type='hidden')
                       br
                       label(for='description') Description
                       textarea(name='description',placeholder='Description du cadeau',cols='40',rows='5')= gift.description                         
                       br
                       button.btn.btn-success(type='submit') Mettre à jour 
                    hr
                    form.ajaxForm.well(id='delete'+formIdz,method='POST',action='/deleteGift')
                        input(name='id',value=gift.id,type='hidden')
                        button.btn.btn-warning(type='submit') Supprimer            
                  .modal-footer
            
          //
            /.well 
        //
        .modal.hide.fade(id='newGift')
                  .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h3 Nouveau Cadeau
                  .modal-body
                    p
                        //new Gift
                    form.ajaxForm.well(id='newGiftForm',method='POST',action='/updateGift')
                       label(for='name') Nom
                       input(name='name',placeholder='Nom du cadeau',type='text')
                       br
                       label(for='contact') Tel ou Email du contact
                       input(name='contact',placeholder='Email ou Tel',type='text')
                       br
                       span Dejà offert ?   
                         input(name='online',type='checkbox')
                       label(for='thumbnail') Url de l'image.
                       input(name='thumbnail',type='text')
                       input(name='id',value=7777,type='hidden')
                       br
                       label(for='description') Description
                       textarea(name='description',placeholder='Description du cadeau',cols='40',rows='5')
                       br
                       button.btn.btn-success(type='submit') Créer                    
                  .modal-footer
          
        .span9
          #myCarousel.carousel.slide
              // Carousel items 
              .carousel-inner
                items = [['100_3729.png','100_3729','Mariage Djark et Lydie'],['100_3731.png','100_3731','Mariage Djark et Lydie'],['100_3746.png','Mariage Djark et Lydie','text3']]
                each item,i in items
                    if i==0
                      .item.active
                        img(src='/images/#{item[0]}', alt='image#{i}')
                        .carousel-caption
                           h4 #{item[1]}
                           p #{item[2]}
                    else
                      .item
                        img(src='/images/#{item[0]}', alt='image#{i}')
                        .carousel-caption
                           h4 #{item[1]}
                           p #{item[2]}
              //
                Carousel nav 
              a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
              a.carousel-control.right(href='#myCarousel', data-slide='next') ›

          .row-fluid
            .span4
              h2 Programme 
              p
                | Description Cadeau...
              p
                a.btn(data-toggle="modal",data-target="#myModalProgram", href="#myModalProgram") Le Programme ! »
            //
              /span
            .span4
              h2 Faire-part
              p
                | Vous n'avez pas encore d'invitations ?                
                | Merci de télécharger puis imprimer le faire-part de la cérémonie.
              p
                a.btn(data-toggle="modal", href="#myModalFairePart") Télécharger »
            //
              /span
            .span4
              h2 Album complet
              p
                | Tout l'album complet du mariage !
                | Découvrez les moments forts en images.
                | La dot, les temps de stress, les cérémonies...
              p
                a.btn(data-toggle="modal", href="#myModalAlbum") L'Album »
        .span1
      .modals
            #myModalGift.modal.hide.fade
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h3 Modal header
              .modal-body
                p One fine body…
              .modal-footer
                a.btn(href='#', data-dismiss='modal') Close
                 
        
        
            #myModalMoney.modal.hide.fade
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h3 Modal header
              .modal-body
                p One fine body…
              .modal-footer
                a.btn(href='#', data-dismiss='modal') Close
                 
        
        
            #myModalProgram.modal.hide
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h3 Modal header
              .modal-body
                p Programme
              .modal-footer
                a.btn(href='#', data-dismiss='modal') Close
                 
        
        
            #myModalFairePart.modal.hide.fade
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h3 Modal header
              .modal-body
                p Faire part
              .modal-footer
                a.btn(href='#', data-dismiss='modal') Close
                 
        
        
            #myModalAlbum.modal.hide.fade
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h3 Modal header
              .modal-body
                p Album
              .modal-footer
                a.btn(href='#', data-dismiss='modal') Close
                 
        
        