extends layout

block header
    .header.navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') 
            img(src='/img/djarkLydie.PNG', height='21px')
          .btn-group.pull-right
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
              i.icon-user
              | Username
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Profile
              li.divider
              li
                a(href='#') Sign Out
          .nav-collapse
            ul.nav
              li.active
                a(href='#') Accueil
              li
                a(href='#about') Programme
              li
                a(href='#contact') Contacts
              li
                a(href='#contact') Photos
              li
                a(href='#contact') Videos 
          //
            /.nav-collapse 
    
block content
    .container-fluid
      
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Offrir un Equipement
              li.active
                a(href='#') Link
              li
                a(href='#') Link
              li
                a(href='#') Link
              li
                a(href='#') Link
              li
                a(href='#') Link
              li.nav-header Offrir de l'argent
              li
                a(href='#') Western Union / Wafa Cash
              li
                a(href='#') Chèque / Virement
              li
                a(href='#') Espèces             
              li.nav-header Autres cadeaux
              li
                a(href='#') Services
              li
                a(href='#') Autre             
          //
            /.well 
        //
          /span
        .span11
          #myCarousel.carousel.slide
              // Carousel items 
              .carousel-inner
                items = [['01.jpg','caption1','text1'],['02.jpg','caption2','text2'],['03.jpg','caption3','text3'],['02.jpg','caption4','text4']]
                //First image
                .active.item 
                        img(src='/images/#{items[0][0]}')
                        .carousel-caption
                           h4 #{items[0][1]}
                           p #{items[0][2]}
                each item,i in items
                    .item 
                        img(src='/images/#{item[0]}', alt='image#{i}')
                        .carousel-caption
                           h4 #{item[1]}
                           p #{item[2]}
              //
                Carousel nav 
              a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
              a.carousel-control.right(href='#myCarousel', data-slide='next') ›

          .row-fluid
            .span4
              h2 Top cadeau 2
              p
                | Description Cadeau...
              p
                a.btn(href='#') Je donne ! »
            //
              /span
            .span4
              h2 Top cadeau 2
              p
                | Description Cadeau...
              p
                a.btn(href='#') Je donne ! »
            //
              /span
            .span4
              h2 Top cadeau 3
              p
                | Description Cadeau...
              p
                a.btn(href='#') Je donne ! »
            //
              /span
          //
            /row
          .row-fluid
            .span4
              h2 Top cadeau 4
              p
                | Description Cadeau...
              p
                a.btn(href='#') Je donne ! »
            //
              /span
            .span4
              h2 Top cadeau 5
              p
                | Description Cadeau...
              p
                a.btn(href='#') Je donne ! »
            //
              /span
            .span4
              h2 Top cadeau 6
              p
                | Description Cadeau...
              p
                a.btn(href='#') Je donne ! »
            //
              /span
          //
            /row
        //
          /span
      //
        /row
      hr
