extends layout

block header
    .header.navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') 
            img(src='/img/djarkLydie.PNG', height='21px')
          //.btn-group.pull-right
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
              i.icon-user
              | Username
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Profile
              li.divider
              li
                a(href='#') Sign Out
          //ah ok.nav-collapse
            ul.nav
              li.active
                a(href='#') Accueil
              li
                a(href='#about') Programme
              li
                a(href='#contact') Contacts
              li
                a(href='#contact') Photos
              li
                a(href='#contact') Videos 
          //
            /.nav-collapse 
    
block content
    .container-fluid
        .span1   
          &nbsp;   
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Offrir un cadeau ?
              each gift,i in gifts
                claz = 'tyu'
                idz  = 'myModalGift'+i
                formIdz = 'form_'+formIdz
                if i == 0
                    claz = 'active'
                if gift.online
                    claz2 = ' online'
                else
                    claz2 = ' offline'
                li(class=claz+claz2)
                    a(data-toggle="modal", href='#'+idz) #{gift.name}
                .modal.hide.fade(id=idz)
                  .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h3 #{gift.name}
                  .modal-body                    
                    table
                        tr
                            td
                                img(src=gift.thumbnail,alt=gift.thumbnail,width=200,height=100)                    
                            td.gift-message
                                p  #{gift.description}
                    form.ajaxForm.well(id=formIdz,method='POST',action='/addGiftGiver')
                       label(for='contact') Contact
                       input(name='contact',placeholder='Votre nom complet',type='text')
                       br
                       label(for='tel') Téléphone (ou Email)
                       input(name='tel',placeholder='Votre Tel/Email',type='text')
                       input(name='id',value=gift.id,type='hidden')
                       br
                       label(for='message') Message
                       textarea(name='message',placeholder='Un petit message où vous précisez comment et quand vous donnerez. Merci',cols='40',rows='5')
                       br
                       button.btn.btn-success(type='submit') J'offre
                  .modal-footer
                       
                
          //
            /.well 
        //
          /span 
        .span9
          #myCarousel.carousel.slide
              // Carousel items 
              .carousel-inner
                items = [['100_3729.png','100_3729','Mariage Djark et Lydie'],['100_3731.png','100_3731','Mariage Djark et Lydie'],['100_3746.png','Mariage Djark et Lydie','text3']]
                each item,i in items
                    if i==0
                      .item.active
                        img(src='/images/#{item[0]}', alt='image#{i}')
                        .carousel-caption
                           h4 #{item[1]}
                           p #{item[2]}
                    else
                      .item
                        img(src='/images/#{item[0]}', alt='image#{i}')
                        .carousel-caption
                           h4 #{item[1]}
                           p #{item[2]}
              //
                Carousel nav 
              a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
              a.carousel-control.right(href='#myCarousel', data-slide='next') ›

          .row-fluid
            .span4
              h4.alert.alert-success Programme 
              p
                | Description Cadeau...
              p
                a.btn.btn-warning(data-toggle="modal",data-target="#myModalProgram", href="#myModalProgram") Le Programme ! »
            //
              /span
            .span4
              h4.alert.alert-success Faire-part
              p
                | Vous n'avez pas encore d'invitations ?                
                | Merci de télécharger puis imprimer le faire-part de la cérémonie.
              p
                a.btn.btn-warning(data-toggle="modal", href="#myModalFairePart") Télécharger »
            //
              /span
            .span4
              h4.alert.alert-success Album complet
              p
                | Tout l'album complet du mariage !
                | Découvrez les moments forts en images.
                | La dot, les temps de stress, les cérémonies...
              p
                a.btn.btn-warning(data-toggle="modal", href="#myModalAlbum") L'Album »
        .span1
        
      .modals           
        
            #myModalProgram.modal.hide
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h3 Le programme
              .modal-body
                h4.alert.alert-success Mariage civil
                ul
                    li    Date : 06/07/2012
                    li    Lieu : Rabat
                
                h4.alert.alert-success Bénédiction nuptiale
                ul
                    li  	Date : 07/07/2012
                    li  	Heure : 15h-16h30
                    li  	Lieu : Salle de fête à Fès
                    li  	Invités : 300 (estimation)
                
                h4.alert.alert-success Soirée de célébrations
                ul
                    li  	Date : 07/07/2012
                    li  	Heure : 18h-23h00
                    li  	Lieu : Salle de fête à Fès


              .modal-footer
                Contacter Djark pour toute information.
                a.btn(href='#', data-dismiss='modal') Close
                 
        
        
            #myModalFairePart.modal.hide.fade
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h3 Faire part
              .modal-body
                img(src='images/fairepart.jpeg')
              .modal-footer
                form.ajaxForm(method='GET',action='/fairepart')                  
                  a.btn.btn-success(href='http://node-boilerplate.mcguy.c9.io/images/fairepart.jpeg',target="_blank") Telecharger
                 
        
        
            #myModalAlbum.modal.hide.fade
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h3 Découvrez les images du mariage
              .modal-body
                p Album complet bientôt (après le mariage)
              .modal-footer
                a.btn(href='#', data-dismiss='modal') Close
                 